<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-stock-heading" jhiTranslate="clivServerApp.stock.home.createOrEditLabel">Create or edit a Stock</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!stock.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="stock.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="clivServerApp.stock.symbol" for="field_symbol">Symbol</label>
                    <input type="text" class="form-control" name="symbol" id="field_symbol"
                        [(ngModel)]="stock.symbol" required maxlength="100"/>
                    <div [hidden]="!(editForm.controls.symbol?.dirty && editForm.controls.symbol?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.symbol?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.symbol?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="clivServerApp.stock.company" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                        [(ngModel)]="stock.company" required maxlength="200"/>
                    <div [hidden]="!(editForm.controls.company?.dirty && editForm.controls.company?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.company?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.company?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="clivServerApp.stock.bdr" for="field_bdr">Bdr</label>
                    <input type="text" class="form-control" name="bdr" id="field_bdr"
                        [(ngModel)]="stock.bdr" required maxlength="30"/>
                    <div [hidden]="!(editForm.controls.bdr?.dirty && editForm.controls.bdr?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.bdr?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.bdr?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                        This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="clivServerApp.stock.cnpj" for="field_cnpj">Cnpj</label>
                    <input type="text" class="form-control" name="cnpj" id="field_cnpj"
                        [(ngModel)]="stock.cnpj" minlength="14" maxlength="18"/>
                    <div [hidden]="!(editForm.controls.cnpj?.dirty && editForm.controls.cnpj?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cnpj?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 14 }">
                        This field is required to be at least 14 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cnpj?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 18 }">
                        This field cannot be longer than 18 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="clivServerApp.stock.main_activity" for="field_main_activity">Main Activity</label>
                    <input type="text" class="form-control" name="main_activity" id="field_main_activity"
                        [(ngModel)]="stock.main_activity" maxlength="300"/>
                    <div [hidden]="!(editForm.controls.main_activity?.dirty && editForm.controls.main_activity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.main_activity?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 300 }">
                        This field cannot be longer than 300 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="clivServerApp.stock.market_sector" for="field_market_sector">Market Sector</label>
                    <input type="text" class="form-control" name="market_sector" id="field_market_sector"
                        [(ngModel)]="stock.market_sector" maxlength="200"/>
                    <div [hidden]="!(editForm.controls.market_sector?.dirty && editForm.controls.market_sector?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.market_sector?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="clivServerApp.stock.website" for="field_website">Website</label>
                    <input type="text" class="form-control" name="website" id="field_website"
                        [(ngModel)]="stock.website" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.website?.dirty && editForm.controls.website?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.website?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="clivServerApp.stock.marketSector" for="field_marketSector">Market Sector</label>
                    <select class="form-control" id="field_marketSector" name="marketSector" [(ngModel)]="stock.marketSectorId"  required>
                        <option *ngIf="!editForm.value.marketSector" [ngValue]="null" selected></option>
                        <option [ngValue]="marketSectorOption.id" *ngFor="let marketSectorOption of marketsectors; trackBy: trackMarketSectorById">{{marketSectorOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.marketSector?.dirty && editForm.controls.marketSector?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.marketSector?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
