<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stock">
            <h2><span jhiTranslate="clivServerApp.stock.detail.title">Stock</span> {{stock.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="clivServerApp.stock.symbol">Symbol</span></dt>
                <dd>
                    <span>{{stock.symbol}}</span>
                </dd>
                <dt><span jhiTranslate="clivServerApp.stock.company">Company</span></dt>
                <dd>
                    <span>{{stock.company}}</span>
                </dd>
                <dt><span jhiTranslate="clivServerApp.stock.bdr">Bdr</span></dt>
                <dd>
                    <span>{{stock.bdr}}</span>
                </dd>
                <dt><span jhiTranslate="clivServerApp.stock.cnpj">Cnpj</span></dt>
                <dd>
                    <span>{{stock.cnpj}}</span>
                </dd>
                <dt><span jhiTranslate="clivServerApp.stock.main_activity">Main Activity</span></dt>
                <dd>
                    <span>{{stock.main_activity}}</span>
                </dd>
                <dt><span jhiTranslate="clivServerApp.stock.market_sector">Market Sector</span></dt>
                <dd>
                    <span>{{stock.market_sector}}</span>
                </dd>
                <dt><span jhiTranslate="clivServerApp.stock.website">Website</span></dt>
                <dd>
                    <span>{{stock.website}}</span>
                </dd>
                <dt><span jhiTranslate="clivServerApp.stock.activated">Activated</span></dt>
                <dd>
                    <span>{{stock.activated}}</span>
                </dd>
                <dt><span jhiTranslate="clivServerApp.stock.marketSector">Market Sector</span></dt>
                <dd>
                    <div *ngIf="stock.marketSectorId">
                        <a [routerLink]="['/market-sector', stock.marketSectorId, 'view']">{{stock.marketSectorName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stock', stock.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
