<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stockWatch">
            <h2><span jhiTranslate="clivServerApp.stockWatch.detail.title">Stock Watch</span> {{stockWatch.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="clivServerApp.stockWatch.stock">Stock</span></dt>
                <dd>
                    <div *ngIf="stockWatch.stockId">
                        <a [routerLink]="['/stock', stockWatch.stockId, 'view']">{{stockWatch.stockCompany}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="clivServerApp.stockWatch.user">User</span></dt>
                <dd>
                    {{stockWatch.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stock-watch', stockWatch.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
